# Liste des fichiers à ignorer dans git
*.pkl.gz
*.slurm
*.pyc
*.mp4
.ipynb_checkpoints/*
*.DS_Store
syncignore.txt
VarPro_resnet/cifar10_data/*
VarPro_resnet/mnist_data/*
2TS_ReLU_1d_entropy/

# Ignore all Jupyter Notebook files except the root one
*.ipynb
!VarPro_ReLU_1d/Results_SHL.ipynb
VarPro_ReLU_1d/Experiment_test.py
